{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="float-end">
        <button type="submit" form="form-eszcaptcha" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa-solid fa-save"></i></button>
        <a href="{{ back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fa-solid fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ol>
    </div>
  </div>
  <div class="container-fluid">
    <div class="card">
      <div class="card-header"><i class="fa-solid fa-pencil"></i> {{ text_edit }}</div>
      <div class="card-body">
        <form id="form-eszcaptcha" action="{{ save }}" method="post" data-oc-toggle="ajax">
          <div class="row mb-3">
            <label for="input-difficulty" class="col-sm-2 col-form-label">{{ entry_difficulty }}</label>
            <div class="col-sm-10">
              <select name="captcha_eszcaptcha_difficulty" id="input-difficulty" class="form-select">
                {% for difficulty in difficulties %}
                  <option value="{{ difficulty.level }}"{% if difficulty.level == captcha_eszcaptcha_difficulty %} selected{% endif %}>{{ difficulty.name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="row mb-3 required">
            <label for="input-length" class="col-sm-2 col-form-label">{{ entry_length }}</label>
            <div class="col-sm-10">
              <input type="text" name="captcha_eszcaptcha_length" value="{{ captcha_eszcaptcha_length }}" placeholder="{{ entry_length }}" id="input-length" class="form-control"/>
              <div id="error-length" class="invalid-feedback"></div>
            </div>
          </div>
          <div class="row mb-3 required">
            <label class="col-sm-2 col-form-label">{{ entry_character_set }}</label>
            <div class="col-sm-10">
              <div class="form-check form-switch">
              	<input type="hidden" name="captcha_eszcaptcha_use_lowercase" value="0"/>
                <input type="checkbox" name="captcha_eszcaptcha_use_lowercase" value="1" id="input-use-lowercase" class="form-check-input"{% if captcha_eszcaptcha_use_lowercase %} checked{% endif %}/>
				        <label class="form-check-label" for="input-use-lowercase">{{ text_lowercase }}</label>
		          </div>
		          <div class="form-check form-switch">
		      	    <input type="hidden" name="captcha_eszcaptcha_use_uppercase" value="0"/>
                <input type="checkbox" name="captcha_eszcaptcha_use_uppercase" value="1" id="input-use-uppercase" class="form-check-input"{% if captcha_eszcaptcha_use_uppercase %} checked{% endif %}/>
                <label class="form-check-label" for="input-use-uppercase">{{ text_uppercase }}</label>
              </div>
              <div class="form-check form-switch">
                <input type="hidden" name="captcha_eszcaptcha_use_number" value="0"/>
                <input type="checkbox" name="captcha_eszcaptcha_use_number" value="1" id="input-use-number" class="form-check-input"{% if captcha_eszcaptcha_use_number %} checked{% endif %}/>
                <label class="form-check-label" for="input-use-number">{{ text_number }}</label>
              </div>
              <div id="error-character-set" class="invalid-feedback"></div>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label">{{ entry_exclude_similar }}</label>
            <div class="col-sm-10">
              <div class="form-check form-switch form-switch-lg">
                <input type="hidden" name="captcha_eszcaptcha_exclude_similar" value="0"/>
                <input type="checkbox" name="captcha_eszcaptcha_exclude_similar" value="1" id="input-exclude-similar" class="form-check-input"{% if captcha_eszcaptcha_exclude_similar %} checked{% endif %}/>
              </div>
              <div class="form-text">{{ help_exclude_similar }}</div>
            </div>
          </div>
          <div class="row mb-3">
            <label for="input-mode" class="col-sm-2 col-form-label">{{ entry_mode }}</label>
            <div class="col-sm-10">
              <select name="captcha_eszcaptcha_mode" id="input-mode" class="form-select">
                <option value="static"{% if axis == 'static' %} selected{% endif %}>{{ text_static }}</option>
                <option value="dynamic"{% if axis == 'dynamic' %} selected{% endif %}>{{ text_dynamic }}</option>
              </select>
              <div class="form-text">{{ help_mode }}</div>
            </div>
          </div>
          <div class="row mb-3">
            <label for="input-daily-limit" class="col-sm-2 col-form-label">{{ entry_daily_limit }}</label>
            <div class="col-sm-10">
              <input type="text" name="captcha_eszcaptcha_daily_limit" value="{{ captcha_eszcaptcha_daily_limit}}" placeholder="{{ entry_daily_limit }}" id="input-daily-limit" class="form-control"/>
            </div>
          </div>
          <div class="row mb-3">
            <label for="input-limit-counter" class="col-sm-2 col-form-label">{{ entry_limit_counter }}</label>
            <div class="col-sm-10">
              <select name="captcha_eszcaptcha_limit_counter" id="input-limit-counter" class="form-select">
                <option value="generation"{% if axis == 'generation' %} selected{% endif %}>{{ text_generation }}</option>
                <option value="validation"{% if axis == 'validation' %} selected{% endif %}>{{ text_validation }}</option>
              </select>
              <div class="form-text">{{ help_limit_counter }}</div>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label">{{ entry_status }}</label>
            <div class="col-sm-10">
              <div class="form-check form-switch form-switch-lg">
                <input type="hidden" name="captcha_eszcaptcha_status" value="0"/>
                <input type="checkbox" name="captcha_eszcaptcha_status" value="1" id="input-status" class="form-check-input"{% if captcha_eszcaptcha_status %} checked{% endif %}/>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  document.getElementById('input-mode').addEventListener('change', function () {
    var selected = document.getElementById("input-mode");
    if (selected.value == 'static') {
      document.getElementById('input-daily-limit').disabled = true;
      document.getElementById('input-limit-counter').disabled = true;
    } else {
      document.getElementById('input-daily-limit').disabled = false;
      document.getElementById('input-limit-counter').disabled = false;
    
    }
  });
  document.getElementById('input-mode').dispatchEvent(new Event('change'));
</script>
{{ footer }}